.filter-component {
  width: 300px;
  background-color: #f5f5f5;
  padding: 1em;
}

.selected {
  color: blueviolet;
}

.filter-list {
  list-style-type: none;
  font-size: 1.1em;
  padding: 0;
  line-height: 1.4em;

}

.filter-list li {
  cursor: pointer;
}

.filter-list li:hover {
  text-decoration: underline;
}

@media (max-width: 776px) {
  .filter-component {
    width: 100%;
    order: 2;
    height: 300px;
    box-sizing: border-box;
  }
}

